@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box; 
    text-decoration: none;
}
/*navbar*/
header {
    background: #F3E43A;
    background: -webkit-linear-gradient(top right, #F3E43A, #F97319);
    background: -moz-linear-gradient(top right, #F3E43A, #F97319);
    background: linear-gradient(to bottom left, #F3E43A, #F97319);
}
p {
    text-align: justify;
}
.max-width {
    margin: auto;
    padding-left: 30px;
}
nav.navbar {
    position: fixed;
    width:100%;
    background-color: rgb(29, 221, 183, 0.85);
    padding: 15px 0 15px 25px;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
}
.logo {
    width: 50%;
    float: left;
    font-weight: bold;
    font-size: 25px;
}
span.lio {
    font-weight: bold;
    color: crimson;
}
ul.nav {
    width: 50%;
    float: left;
    text-align: right;
    padding-right: 50px;
}
ul.nav li {
    display: inline-block;
    margin-left: 15px;
    font-weight: bold;
    transition: color 0.3s ease
}
ul.nav li a{
    transition: color 0.3s ease;
}
ul.nav li a:hover {
    color: crimson;
}

/*info navbar*/
.home {
    display: flex;
    color: black;
    clear: both;
    padding: 50px;
    padding-bottom: 0;
    line-height: 60px;
    word-spacing: 15px;
    padding-left: 100px;
    font-family: 'Ubuntu', sans-serif;
    min-height: 500px;
}
div.text {
    flex-basis: 60%;
    padding-left: 50px;
    padding-top: 200px;
}
.home .text p {
    font-size:35px;
}
.home .text h1 {
    font-size:60px;
    font-weight: 600;
    margin-left: -3px;
}
.home .text h4 {
    font-size:30px;
    margin: 5px 0;
}
.home .text span {
    color: crimson;
    font-weight: 500px;
}
button.btn {
    background: #1900A0;
    font-size: 20px;
    font-weight: bold;
    padding: 6px 30px;
    margin-top: 20px;
    border-radius: 5px;
    border: 3px solid #1900A0;
    color: #fff;
    transition: color 1s ease;
}
button.btn:hover {
    cursor: pointer;
    background-color: #fff;
    color:#1900A0;
}
div.image {
    flex-basis: 40%;
    padding-top: 30px;
}
div.image img{
    height:100%;
}

/* about section */
section {
    padding: 100px;
}
.about {
    font-family: 'Poppins', sans-serif;
}
.about .title {
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.about .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about .about-content .left {
    width: 45%;
}
.about .about-content .right {
    width: 50%;
    line-height: 40px;
    justify-content: justify;
}
.about .about-content .right h2 {
    margin-bottom: 20px;
}
.about .about-content .right span {
    color: crimson;    
}
.about .about-content .left img {
    height: 460px;
    width: 400px;
    object-fit: cover;
}

@media (max-width:1100px) {
    .about .about-content {
        display: inline-block;
        justify-content: center;
    }
    .about .about-content .left {
        width: 100%;
    }
    .about .about-content .right {
        width: 100%;
        margin-top: 40px;
    }
}

/*skills section*/
.skills {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(253, 196, 91);
}
.skills .title {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 50px;
    padding-bottom: 20px;
}
.skills .skills-content .column {
    width: calc(50% - 30px);
}
.skills .skills-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content h2 {
    margin-bottom: 20px;
    color: crimson;
    font-size: 24px;
    text-align: center;
}
.skills .skills-content .right img {
    height: 270px;
    width: 422px;
    object-fit: cover;
}

@media (max-width: 843px) {
    .skills .skills-content {
        display: inline-block;
    } 
    .skills .skills-content .left {
        width: 100%;
        margin-bottom: 50px;
    }
    .skills .skills-content .right {
        width: 100%;
    }
}
/*projects section*/
.projects {
    font-family: 'Poppins', sans-serif;
}
.project .title {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 50px;
    padding-bottom: 20px;
}
#slideshow {
    overflow: hidden;
    height: 400px;
    margin: 0 auto;
    border-radius: 6px;
}
   
/* Style each of the sides
with a fixed width and height */
.slide {
    float: left;
    height: 510px;
    width: 728px;
}
   
/* Add animation to the slides */
.slide-wrapper {
     
/* Calculate the total width on the
basis of number of slides */
    width: calc(728px * 4);
   
/* Specify the animation with the
duration and speed */
    animation: slide 20s ease infinite;
}
/* Set the background color
of each of the slides */
.slide:nth-child(1) {
    background: #00A19D;
}
   
.slide:nth-child(2) {
    background: #FFF895;
}
   
.slide:nth-child(3) {
    background: #FFB344;
}
   
.slide:nth-child(4) {
    background: #E05D5D;
}
.projects {
    font-family: 'Poppins', sans-serif;
}
.projects .title {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 50px;
    padding-bottom: 20px;
}
.projects .projects-content .column {
    width: calc(50% - 30px);
}
.projects .projects-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.projects .projects-content .slide-number {
    width: 66%;
    text-align: center;
    padding: 30px;
}
.projects .projects-content h2 {
    margin-bottom: 20px;
    color: crimson;
    font-size: 24px;
    text-align: center;
}
.projects .projects-content .slide img {
    width: 728px;
    height: 510px;
    object-fit: cover;
    filter: brightness(53%);
}
.slide {
    position: relative;
    text-align: center;
    color: white;
    transition: all 0.3s ease;
}
.slide:hover {
    filter: contrast(4);
    cursor: pointer;
}
.slide-content {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    padding-bottom: 90px;
}
.slide-content h3 {
    color: #FFF895;
    margin-bottom: 50px;
    font-size: 24px;
}

@media (max-width: 768px) {
    .projects .projects-content .column {
        width: 100%;
    }
    .desc {
        margin-top: 40px;
    }
}
/* Define the animation
for the slideshow */
@keyframes slide {
     
/* Calculate the margin-left for
each of the slides */
    20% {
        margin-left: 0px;
    }
    
    40% {
        margin-left: calc(-728px * 1);
    }
    
    60% {
        margin-left: calc(-728px * 2);
    }
    
    80% {
        margin-left: calc(-728px * 3);
    }
}



















/*contact section*/
.contact {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(253, 196, 91);
}
.contact .title {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 50px;
    padding-bottom: 20px;
}
.contact .contact-content .column {
    width: calc(50% - 30px);
}
.contact .contact-content h4 {
    font-size: 20px;
    font-weight: 600;
}
.contact .contact-content p {
    text-align: justify;
}
.contact .contact-content .left .icons {
    margin: 10px 0;
}
.contact .contact-content .row {
    display: flex;
    height: 30px;
    align-items: center;
}
.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.contact .contact-content .left h4 {
    color: crimson;
    font-size: 20px;
    text-align: center;
}
.contact .contact-content .right h4 {
    text-align: center;
    font-size: 20px;
    color: crimson;
}
.contact .right form .fill-in {
    display: flex;
}
.contact .right form .fill,
.contact .right form .fill-in .fill {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea {
    height: 80px;
}
.contact .right form .name {
    margin-right: 10px;
}
.contact .right form .email {
    margin-left: 10px;
}
.contact .right form .textarea textarea,
.contact .right form .fill input {
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius:6px;
    outline: none;
    padding: 0 15px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
.contact .right form .fill textarea {
    width: 100%;
}
.contact .right form .textarea textarea {
    padding-top: 10px;
}
.contact .right form .button {
    height: 45px;
    width: 170px;
}
.contact .right form .button button {
    width: 100%;
    height: 100%;
    border: 2px solid crimson;
    border-radius: 6px;
    background-color:crimson;
    color: white;
    font-size: 17px;
    font-weight: 500;
    transition: all 0.3s ease;
}
.contact .right form .button button:hover {
    background-color: white;
    color: crimson;
    cursor: pointer;
}

@media (max-width: 833px) {
    .contact .contact-content {
        display: inline-block;
    }
    .contact .contact-content .column {
        width: 100%;
    }
}

/*footer*/
footer {
    font-family: 'Ubuntu', sans-serif;
    font-size: 80%;
    height: 40px;
    background-color: crimson;
    color: white;
    text-align: center;
    padding: 12px;
}
.copyright a {
    color: rgb(0, 216, 173)
}

.copyright p {
    text-align: center;
}
